@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}

.none{
    display: none !important;
}

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #556983;
    background-image: url(./img/header-bg.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title{
    margin:0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.3;
    color: white;
}
.header-subtitle{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: white;
    margin: 0;
}
.header-arrow{
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 30px;
    transform: translate(-50%,0);
}
.portfolio{
    padding-top: 80px;
    padding-bottom: 115px;
}
.portfolio-header{
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
}

.portfolio-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
    background-color: #fff;
    max-width: 540px;
    padding: 20px;
    margin-bottom: 30px;
}

.card:last-child, .card:nth-child(3){
    margin-bottom: 0;
}

.card-img{
    margin-bottom: 20px;
}

.card-title{
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
}

.card p{
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
}
 /* Footer */
.footer{
    padding-top: 45px;
    background: #1E4776;
    padding-bottom: 130px;
    color: white;
}
.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-copyright{
    color: #7E9EC9;
    line-height: 1.3;
}

.footer-copyright p{
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
}
.footer-copyright-name{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
}
/* .footer-icons{
    
} */
.footer-icons p{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0em;
}
.footer-icons-row{
    display: flex;
    align-items: center;
}
.footer-icons-row > * + *{
    margin-left: 30px;
}