*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    background: #12141D;
}
.wrapper{
    max-width: 1110px;
    margin: 0 auto;
}
.none{
    display: none !important;
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
    font-size: 14px;
    line-height: 21px;
}
nav li+li{
    padding-left: 40px;
}
a{
    text-decoration: none;
}
.header__logo__text{
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
}
.header__nav{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__welcome{
    position: relative;
    width: 100%;
    background-image: url(/img/header.svg);
    height: 650px;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    margin-top: 58px;
}
.header__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.header__welcome *{
    background-color: transparent;
}
.btn{
    align-self: flex-start;
    display: block;
    padding: 13px 27px;
    background-color: #4080BF;
    border-radius: 10px;
}
h1{
    font-weight: 800;
    font-size: 61px;
    line-height: 1.51;
    margin-bottom: 10px;
}
.header__welcome p{
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 30px;
}
.about{
    margin-top: 120px;
    margin-bottom: 100px;
}
h2{
    font-weight: 800;
    font-size: 50px;
    text-transform: capitalize;
}
.about h2{
    line-height: 1.4;
    margin-bottom: 41px;
}
.about__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card__image{
    width: 70px;
    height: 70px;
}
.about__container img{
    width: 46px;
    background-color: transparent;
}
.card__container{
    display: flex;
    flex-direction: column;
}
.about__container:nth-child(3), .about__container:last-child{
    margin-top: 30px;
}
.about__container:nth-child(odd){
    width: 49%;
}
.card__container h3{
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
}
.card__container p{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.87;
    text-transform: capitalize;    
}

/* /ABOUT */

/* SPECIALIZATION */

.specialize__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.specialize__card{
    width: 345px;
    height: 345px;
    border-radius: 10px;
    padding: 20px 20px 40px;
    background-color: #1E2028;

    margin-right: 25px;
    margin-bottom: 25px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.specialize h2{
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}
.specialize__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 10px;
}
.specialize__card p{
    font-size: 16px;
    line-height: 1.75;
    padding-bottom: 50px;
}
.specialize__continue a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.specialize__continue span{
    font-size: 14px;
    line-height: 1.43;
    color: #A1C5E9;
}
.specialize__card img:first-child{
    padding-bottom: 50px;
}
.specialize__continue img{
    padding-left: 20px;
}

/* /SPECIALIZATION */

/* PROJECT */

.project{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.project a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-end;
}
.project span{
    color: #A1C5E9;
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.43;
}
.project__images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project a{
    margin-bottom: 50px;
}
.project__images img{
    width: 540px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.project__images img:nth-child(odd){
    margin-right: 30px;
}

/* /PROJECT */

/* AUTHOR */
.project + h2{
    text-align: center;
    margin-bottom: 50px;
}
.author, .author__card{
    display: flex;
    flex-direction: row;
}
.author__card:first-child{
    margin-bottom: 25px;
}
.author__container:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 25px;
}
.author__container:last-child{
    margin-top: 58px;
}
.card__title{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.card__comment{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.86;
}
.author__description__left, .author__description__right{
    padding-bottom: 20px;
    align-self: flex-end;
}
#description__right, #description__left{
    margin-bottom: 60px;
}
.author__description__left{
    margin-right: 13px;
    text-align: right;
}
.author__description__right{
    margin-left: 13px;
}
#card__kekey{
    padding-top: 15px;
}

.project + h2{
    margin-top: 150px;
}
/* /AUTHOR */

/* COMMENT */

.comment{
    margin-top: 150px;
    margin-bottom: 200px; 
    /* CAN DELETE IF SITE IS READY */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment__slider{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #1E2028;
    padding: 37px 44px 56px 26px;
    border-radius: 10px;
}

.comment__slider img:first-child{
    width: 80px;
    height: 68px;
    align-self: flex-end;
    margin-bottom: 20px;
}

.comment__slider__caption{
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
}

.comment__slider p{
    font-weight: 300;
}

.comment__slider__caption img{
    margin-right: 20px;
}

.caption__text p:first-child{
    padding-top: 5px;
    font-weight: 600;
}

.caption__text p:last-child{
    margin-top: 5px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.94;
}

.comment__slider img:last-child{
    margin-top: 50px;
    align-self: center;
    width: 50px;
    height: 10px;
}
/* /COMMENT */